{
    "adapters": [
        {
            "name": "AdColony",
            "settings": {
                "app.id":"app4189658f7abb4f8587",
                "client.options":"",
                "zone.ids.rewarded.video": [
                    "vz187b73bf82924fc6aa"
                ]
            }
        },
        {
            "name": "Applifier",
            "settings":{
                "game.id.key": "1289787",
                "zone.id.rewarded.video": "rewardedVideo"
            }
        },
        {
            "name": "Vungle",
            "settings": {
                "app.id": "5891624bdc8697ad5400014f"
            }
        },
        {
            "name": "AppLovin",
            "settings": {
            }
        },
        {
            "name": "Chartboost",
            "settings":
            {
                "AppId": "5891926843150f4985b51d7f",
                "AppSignature": "74316fcee238fc40122191a85e710c60c7700a91"
            }
        }
    ]
}